<h1>Restaurants#new</h1>
<%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit "Add Restaurant", class: "btn btn-primary" %>
<% end %>

<%= link_to restaurants_path do%>
  <h3><i class="fas fa-long-arrow-alt-left"> Back</i></h3>
<% end %>
