<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>

<h3>Reviews:</h3>
<% if @restaurant.reviews.any? %>
  <% @restaurant.reviews.each do |review| %>
    <%= review.content %>
      <% review.rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="far fa-star"></i>
      <% end %>
  <% end %>
<% else %>
  <p>No Reviews</p>
<% end %>

<h3>Add Review</h3>
<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <%= f.submit "Submit Review", class: "btn btn-primary" %>
<% end %>

<%= link_to restaurants_path do%>
  <h3 class="link-dark m-3"><i class="fas fa-long-arrow-alt-left"></i> Back</h3>
<% end %>
